<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <style>
        .error-message {
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="login-container">

    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required/>
        <div th:if="${loginError != null}" class="error-message" th:text="${loginError}"></div>

        <button type="submit">Login</button>
    </form>
    <div class="links">
        <a href="/register">Don't have an account? Register here</a>
    </div>
    <a href="/" class="btn-home">HomePage</a>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
